@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

h1,
h2,
h3,
.logo {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: #000;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

input {
  font-family: "Open Sans", "Arial", sans-serif;
}

button {
  font-family: "Gilroy", "Arial", sans-serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper,
.wrapper-catalog {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper-internal {
  width: 1200px;
  margin: 0 auto;
  padding: 0 80px;
}

.wrapper-catalog {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo--footer {
  color: #ffc600;
}

.header {
  background-color: #f7e296;
  background-image: linear-gradient(to top, #f7e296 0, #f7e296 85%, #fff 85%, #fff 100%);
  padding: 60px;
  padding-top: 20px;
}

.user-block {
  display: flex;
  padding: 30px 0;
}

.user__search,
.user {
  width: 50%;
}

.user {
  display: flex;
  justify-content: space-between;
}

.user__btn {
  width: 16px;
  height: 16px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -283px -5px;
}

.user__item {
  padding-left: 25px;
  position: relative;
}

.user__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 12px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.user__item:first-child {
  width: 50%;
}

.user__item:nth-child(n+2) {
  width: 25%;
  text-align: right;
}

.user__link--out {
  color: rgba(0,0,0,0.3);
}

.footer .user__item {
  width: 100px;
}

.footer .user {
  justify-content: flex-end;
}

.user__item:first-child::before {
  background-position: -357px -5px;
}

.user__item:nth-child(2)::before {
  left: 30%;
  background-position: -49px -5px;
}

.user__item:last-child::before {
  left: 40%;
  background-position: -5px -5px;
}

.footer .user__item:first-child::before {
  background-position: -380px -5px;
}

.footer .user__item:nth-child(2)::before {
  left: 10%;
  background-position: -69px -5px;
}

.footer .user__item:last-child::before {
  left: 15%;
  background-position: -27px -5px;
}

.promo {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.promo__block {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7e296;
}

.promo__text {
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  max-width: 160px;
}

.partners {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #464646;
  color: #fff;
  padding: 60px 0;
}
.footer__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.footer__link {
  font-family: "Gilroy", "Arial", sans-serif;
  color: #fff;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__link:active {
  opacity: 0.3;
}

.footer__deco {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.social__link {
  font-size: 0;
  width: 32px;
  height: 32px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social__link:hover {
  opacity: 0.6;
}

.social__link:active {
  opacity: 0.1;
}

.social__link--fb {
  background-position: -89px -5px;
}

.social__link--in {
  background-position: -175px -5px;
}

.social__link--tw {
  background-position: -309px -5px;
}

.copyright {
  width: 27px;
  height: 34px;
  font-size: 0;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -138px -5px;
}

.copyright:hover {
  opacity: 0.6;
}

.copyright:active {
  opacity: 0.3;
}

.slide {
  display: flex;
  background-color: #f7e296;
  background-image: linear-gradient(to top, #fff 0, #fff 80%, #f7e296 80%, #f7e296 100%);
}

.slide__img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.slide__block {
  width: 50%;
  padding-left: 20px;
  padding-right: 60px;
  padding-top: 25px;
  position: relative;
  z-index: 1;
}

.slide__block::after {
  content: "01";
  position: absolute;
  top: 0;
  right: 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 180px;
  line-height: 140px;
  color: #fff;
  font-weight: 800;
  z-index: -1;
}

.slide-2 .slide__block::after {
  content: "02";
}

.slide-3 .slide__block::after {
  content: "03";
}

.slide__title {
  font-size: 47px;
  line-height: 1.2;
}

.slide__text {
  padding-right: 20px;
  margin-bottom: 50px;
}

.slide__table {
  margin-top: 70px;
}

.slide__table td {
  width: 160px;
}

.slide__table td:nth-child(2) {
  width: 140px;
}

.slide__row1 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2;
  color: #000;
}

.slide__row2 {
  font-size: 13px;
  line-height: 20px;
}

.slide {
  display: none;
}

.slider__radio {
  display: none;
}

.slider__btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  position: relative;
}

.slider__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #000;
  display: none;
}

.slider {
  position: relative;
}

.slider__btn-wrap {
  position: absolute;
  top: 313px;
  right: 20px;
  width: 78px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.slider__radio1:checked ~ .slider__btn-wrap .slider__btn[for="slide-1"]::after,
.slider__radio2:checked ~ .slider__btn-wrap .slider__btn[for="slide-2"]::after,
.slider__radio3:checked ~ .slider__btn-wrap .slider__btn[for="slide-3"]::after {
  display: block;
}

.slider__radio1:checked ~ .slide-1,
.slider__radio2:checked ~ .slide-2,
.slider__radio3:checked ~ .slide-3 {
  display: flex;
}

.header {
  position: relative;
}

.menu__list {
  display: flex;
}

.menu__link,
.link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.menu__item:first-child {
  width: 50%;
}

.menu__item:last-child {
  width: 25%;
  text-align: right;
}

.menu__item:nth-child(2),
.menu__item:nth-child(3) {
  flex-grow: 1;
}

.menu__wrap {
  display: none;
  position: absolute;
  top: 170px;
  left: 0;
  width: 100%;
  background-color: #f7e296;
  z-index: 10;
}

.menu__sub {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-top: 20px;
}

.menu__subitem {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.menu__subitem:first-child {
  width: 240px;
}

.menu__sublink {
  line-height: 36px;
}

.menu__item:first-child:hover .menu__wrap {
  display: block;
}

.link {
  padding: 0 40px;
  min-height: 40px;
  line-height: 40px;
  color: #000;
  text-align: center;
  background-image: linear-gradient(to top, transparent 0, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
}

@keyframes link-hover {
  0% {
    background-image: linear-gradient(to top, transparent 0, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
  }
  25% {
    background-image: linear-gradient(to top, transparent 0, transparent 30%, #f0c52e 30%, #f0c52e 70%, transparent 70%, transparent 100%);
  }
  50% {
    background-image: linear-gradient(to top, transparent 0, transparent 20%, #f0c52e 20%, #f0c52e 80%, transparent 80%, transparent 100%);
  }
  75% {
    background-image: linear-gradient(to top, transparent 0, transparent 10%, #f0c52e 10%, #f0c52e 90%, transparent 90%, transparent 100%);
  }
  100% {
    background-image: none;
    background-color: #f0c52e;
  }
}

.link:hover {
  animation-name: link-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.link:active {
  color: rgba(0,0,0,0.3);
}

.benefits {
  padding: 68px 0;
  background-color: #e5e5e5;
  background-image: linear-gradient(to top, #e5e5e5 0%, #e5e5e5 65%, #fff 65%, #fff 100%);
}

.benefits__input {
  display: none;
}

.benefits__list {
  display: flex;
}

.benefits__control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  min-height: 320px;
  border-right: 7px solid #000;
}

.benefits__info {
  display: none;
  width: 820px;
  padding-left: 120px;
  padding-right: 275px;
  position: relative;
}

.benefits__info::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}

.benefits__info--delivery::after {
  width: 136px;
  height: 164px;
  background-image: url(../img/delivery.svg);
}

.benefits__info--warranty::after {
  width: 171px;
  height: 195px;
  background-image: url(../img/warranty.svg);
}

.benefits__info--credit::after {
  width: 156px;
  height: 188px;
  background-image: url(../img/credit.svg);
}

.benefits__title {
  font-size: 47px;
  margin-top: 75px;
}

.benefits__label {
  cursor: pointer;
  margin-bottom: 25px;
}

.benefits__label:last-of-type {
  margin-bottom: 0;
}

.benefits__input--delivery:checked ~ .benefits__info--delivery,
.benefits__input--warranty:checked ~ .benefits__info--warranty,
.benefits__input--credit:checked ~ .benefits__info--credit {
  display: block;
}

.benefits__input--delivery:checked ~ .benefits__control .benefits__label[for="delivery"],
.benefits__input--warranty:checked ~ .benefits__control .benefits__label[for="warranty"],
.benefits__input--credit:checked ~ .benefits__control .benefits__label[for="credit"] {
  color: #f7e184;
  background-image: none;
  background-color: #000;
}

.partners {
  margin: 100px 0;
}

.partners__img {
  filter: grayscale(1);
  opacity: 0.2;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info__item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000;
  padding-left: 35px;
  position: relative;
}

.info__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
}

.info__block {
  width: 50%;
  position: relative;
  padding-top: 30px;
  padding-bottom: 80px;
}

.info__block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
}

.info__title {
  font-size: 47px;
}

.info__block:first-of-type .info__text {
  padding-right: 105px;
}

.info__list {
  margin-top: 55px;
  margin-bottom: 65px;
}

.map {
  width: 100%;
  height: 222px;
  margin-top: 20px;
  margin-bottom: 75px;
  background-image: url(../img/map.jpg);
}

.breadcrumbs {
  margin-bottom: 50px;
}

.breadcrumbs__link {
  padding-right: 37px;
  font-size: 14px;
  line-height: 36px;
  color: rgba(0,0,0,0.3);
  position: relative;
}

.breadcrumbs__link:hover {
  color: rgba(0,0,0,0.6);
}

.breadcrumbs__link:active {
  color: rgba(0,0,0,0.1);
}

.breadcrumbs__link--active:hover,
.breadcrumbs__link--active:active {
  color: rgba(0,0,0,0.3);
}

.breadcrumbs__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(-45deg) translateY(-50%);
}

.breadcrumbs__link:last-of-type::after {
  display: none;
}

.catalog {
  display: flex;
  width: 100%;
  background-image: linear-gradient(to bottom, #ebebeb 70px, #fff 70px);
}

.catalog__filter {
  width: 345px;
  padding-left: 80px;
  padding-right: 65px;
  margin-left: auto;
  margin-right: 0;
  position: relative;
  z-index: 1;
}

.catalog__filter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  background-image: linear-gradient(to bottom, #dbdbdb 70px, #efefef 70px);
  z-index: -1;
}

.catalog__wrap {
  width: 855px;
  padding-left: 73px;
  padding-right: 20px;
  margin-left: 0;
  margin-right: auto;
}

.catalog__title,
.pages__nav {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.catalog__title {
  margin-right: 40px;
  margin-bottom: 90px;
}

.catalog__choice {
  font-size: 14px;
  color: rgba(0,0,0,0.3);
  margin-right: 25px;
}

.catalog__choice:hover {
  color: rgba(0,0,0,0.6);
}

.catalog__choice:active {
  color: #000;
}

.catalog__choice--active,
.catalog__choice--active:hover {
  color: #000;
}

.catalog__sort {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.catalog__btn {
  width: 11px;
  height: 10px;
  background-image: url(../img/icon-down.png);
  background-repeat: no-repeat;
  opacity: 0.2;
}

.catalog__btn:hover {
  opacity: 0.4;
}

.catalog__btn:active,
.catalog__btn--active,
.catalog__btn--active:hover {
  opacity: 1;
}

.catalog__btn--up {
  transform: rotate(180deg);
}

.catalog__btn:first-of-type {
  margin-right: 15px;
}

.catalog__block {
  display: flex;
  align-items: baseline;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.catalog__item {
  width: 360px;
  position: relative;
  margin-bottom: 40px;
}

.catalog__hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  background-color: rgba(238,238,238,0.7);
}

.catalog__item:hover .catalog__hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog__compare {
  opacity: 0.5;
}

.catalog__compare:hover {
  opacity: 1;
}

.catalog__compare:active {
  opacity: 0.2;
}

.catalog__name {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  max-width: 260px;
}

.catalog__text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.catalog__text span {
  font-size: 15px;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  margin-bottom: 70px;
}

.pages__num {
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.pages__num .pages__nav {
  color: rgba(0,0,0,0.3);
}

.pages__num .pages__nav:hover {
  color: rgba(0,0,0,0.6);
}

.pages__num .pages__nav:active {
  color: rgba(0,0,0,1);
}

.pages__num .pages__nav--active,
.pages__num .pages__nav--active:hover{
  color: #000;
}

.pages__nav--back,
.pages__nav--forward {
  padding: 0 27px;
  min-height: 70px;
  display: flex;
  align-items: center;
}

.pages__nav--back:hover,
.pages__nav--forward:hover {
  background-color: rgba(0,0,0,0.08);
}

.pages__nav--back:active,
.pages__nav--forward:active {
  background-color: rgba(0,0,0,0.08);
  color: rgba(0,0,0,0.3);
}

.catalog__field {
  border: none;
  border-top: 2px solid #000;
}

.catalog__check,
.catalog__radio {
  display: none;
}

.catalog__label {
  display: block;
  font-size: 14px;
  margin-bottom: 25px;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

.catalog__check + .catalog__label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #000;
  border-radius: 3px;
}

.catalog__check:checked + .catalog__label::before {
  width: 27px;
  height: 23px;
  border: none;
  background-image: url(../img/checkbox-on.png);
  background-repeat: no-repeat;
}

.catalog__radio + .catalog__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 4px solid #000;
  border-radius: 50%;
}

.catalog__radio:checked + .catalog__label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000;
}

.catalog__label:hover::before,
.catalog__label:hover::after {
  opacity: 0.6;
}

.range {
  position: relative;
  margin-bottom: 60px;
}

.range__bar {
  width: 100%;
  height: 2px;
  background-color: #dbdbdb;
}

.range__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: #91c92f;
}

.range__wrap {
  display: flex;
  position: absolute;
  top: -10px;
  left: -8px;
  width: 100%;
}

.range__control {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 0 0 #dbdbdb;
  position: relative;
  cursor: pointer;
  z-index: 5;
}

.range__control::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ababab;
}

.range__control--right {
  margin-left: 93px;
}

.range__value--right {
  margin-left: 65px;
}

.modal {
  display: none;
  width: 960px;
  padding: 85px 100px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
}

.modal--map {
  height: 560px;
  background-image: url(../img/map-big.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.modal__close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__form {
  display: flex;
  flex-wrap: wrap;
}

.modal__field {
  width: 360px;
  margin-bottom: 35px;
}

.modal__field:first-of-type {
  margin-right: 40px;
}

.modal__label {
  display: block;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}

.modal__text,
.modal__input {
  width: 100%;
  min-height: 50px;
  padding: 15px 20px;
  background-color: #f2f2f2;
}

.modal__text {
  min-height: 155px;
  margin-bottom: 45px;
  border: none;
}
